/* ^ ============== {Basic style} ============== */
*,
::after,
::before {
  box-sizing: border-box;
}
.bg-color {
  background-color: #f7ecde;
}
body {
  font-family: "PT Sans Caption", sans-serif;
}
.m-header {
  font-family: "Pacifico", cursive;
}

.s-header {
  font-family: "Righteous", cursive;
  font-size: 25px;
}
.w-90 {
  width: 90%;
}
hr {
  border-top: 2px dotted black;
}
::selection {
  color: #352e28;
  background-color: #fec260;
}
/* ^ ============== {Main header style} ============== */
.m-header h1 {
  font-size: 50px;
  line-height: 60px;
  color: #352e28;
  position: relative;
  width: fit-content;
}
.m-header h1::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  background-color: #fec260;
  height: 40%;
  width: 100%;
  z-index: -1;
  transition: 0.5s all;
}
.m-header:hover h1::after {
  top: 30%;
  height: 70%;
}
.s-header h3 {
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: padding-box; /* Standard property */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ^ ============== {Formcontor style} ============== */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #d99c39;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fec26055;
}
/* & ++++++++++++ Icon Input */
.input-container {
  padding-bottom: 1em;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 35px !important;
}
.right-inner-addon-b {
  position: relative;
}
.right-inner-addon-b input {
  padding-right: 35px !important;
}
/* & ++++++++++++ svg */
.ex {
  position: absolute;
  right: 2%;
  pointer-events: none;
  top: 8px;
  color: #dc3545;
  display: none;
}
.ch {
  position: absolute;
  right: 2%;
  pointer-events: none;
  top: 8px;
  color: #198754;
  display: none;
}
.t {
  color: #dc3545;
}
.form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiBmaWxsPSJub25lIiBzdHJva2U9IiMzN2RjMzQ1Ij48Y2lyY2xlIGN4PSI2IiBjeT0iNiIgcj0iNC41Ij48L2NpcmNsZT48cGF0aCBzdHJva2U9ImZpeGVkIiBkPSJNNS44IDMuNnMuNiBoLjRMMiA2LjV6Ij48L3BhdGg+PHN2ZyBzeW1ib2w9Im51bGwiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIuNiIgaGVpZ2h0PSIuNiIgZmlsbD0iIzNkYzM1NDUiIHN0cm9rZT0ibm9uZSIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/*  */

/* .bi-exclamation-circle::before { content: "\f333"; } */

.box-info {
  background-color: #0007;
}

.box-conent {
  width: 200px;
  z-index: 10;
}

.rules li {
  font-size: 18px;
  padding-top: 10px;
}
.rules i {
  color: #bb4120;
}

.circles span {
  display: block;
  width: 20px;
  height: 20px;
}

.circles span:nth-child(1) {
  background-color: #f15f5d;
}
.circles span:nth-child(2) {
  background-color: #febe2e;
}
.circles span:nth-child(3) {
  background-color: #4db748;
}

.errorM {
  font-family: "Bree Serif", serif;
  font-size: 21px;
  line-height: 1.3;
  color: #352e28;
  font-weight: 800;
  text-indent: 2px;
  min-width: 100px;
}
.error-message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-info {
  width: 80%;
  height: 100%;
}

.box-content {
  max-width: 400px;
  margin: auto;
}

/* Rest of your CSS styles */

#errorMessageContainer {
  display: none;
}

.error-message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.box-info {
  width: 100%;
  height: 100%;
}

.box-content {
  max-width: 600px;
  margin: auto;
}

/* Define the initial styles for the input elements */
.initial-style {
  border-color: #ced4da !important;
  box-shadow: none !important;
}
